a {
  color: inherit;
  text-decoration: none;
}

.places-container {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 300px;
}

.map-container {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}